doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title GroceryGo - Below 1000 PKR
        link(rel='stylesheet' href='/css/bakeryProducts.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap')
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet")
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    body
        // Header
        header.header
            nav.navbar
                .navbar-left
                    a(href='/')
                        img.nav-logo(src='/img/grocerygo.png' alt='GroceryGo Logo')
                .navbar-center
                    form.search-form
                        input.search-bar(type='text' placeholder='Search for products')
                        button.search-button Search
                .navbar-right
                    a(href='/wishlist')
                        img.nav-icon(src='/img/wishlist.png' alt='Wishlist' class='nav-icon')
                        span.nav-text Wishlist
                    a(href='/signup')
                        img.nav-icon(src='/img/profile.png' alt='Profile' class='nav-icon')
                        span.nav-text Sign Up

        // Categories bar
        .categories-bar
            .categories-left
                h3 Shop By Categories

            .category-icons
                // Your category items here...

        // Products below 1000 PKR section
        h3.products-heading Below 1000 PKR Products

        .products-container
            // Product cards will be dynamically added here using JavaScript

        script.
            $(document).ready(function() {
                $.ajax({
                    url: '/api/v1/products/below500-Products',
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        if (response.status === 'success') {
                            // Iterate through each category of products
                            response.data.below500.forEach(function(categoryProducts) {
                                // Iterate through products in each category
                                categoryProducts.products.forEach(function(product) {
                                    // Append product card HTML to .products-container
                                    var productCard = `
                                        <div class="product-card">
                                                <img class="product-image" src="/img/products/${product.photo}" alt="${product.name}">
                                                <div class="product-details">
                                                    <h3 class="product-name">${product.name}</h3>
                                                    <div class="price">
                                                        <div class="original-price">PKR ${product.price}</div>
                                                        ${product.discountPercentage ? `<div class="discounted-price">PKR ${(product.price - (product.price * (product.discountPercentage / 100))).toFixed(2)}</div>` : ''}
                                                    </div>
                                                    <button class="add-to-cart">Add to Cart</button>
                                                </div>
                                            </div>
                                    `;
                                    $('.products-container').append(productCard);
                                });
                            });
                        } else {
                            console.error('Failed to fetch products:', response.message);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching products:', error);
                    }
                });
            });

